<!DOCTYPE html>
<html lang="en-US" prefix="og: http://ogp.me/ns#">

<!-- Mirrored from adventure-tours.themedelight.com/ by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 11 Apr 2017 20:26:39 GMT -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Adventure Tours</title>

    <!-- This site is optimized with the Yoast SEO plugin v3.1.2 - https://yoast.com/wordpress/plugins/seo/ -->
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Home - Adventure Tours" />
    <meta property="og:url" content="index.html" />
    <meta property="og:site_name" content="Adventure Tours" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="Home - Adventure Tours" />
    <script type='application/ld+json'>{"@context":"http:\/\/schema.org","@type":"WebSite","url":"http:\/\/adventure-tours.themedelight.com\/","name":"Adventure Tours","potentialAction":{"@type":"SearchAction","target":"http:\/\/adventure-tours.themedelight.com\/?s={search_term_string}","query-input":"required name=search_term_string"}}</script>
    <!-- / Yoast SEO plugin. -->


    <script type="text/javascript">
        window._wpemojiSettings = {"baseUrl":"https:\/\/s.w.org\/images\/core\/emoji\/2\/72x72\/","ext":".png","svgUrl":"https:\/\/s.w.org\/images\/core\/emoji\/2\/svg\/","svgExt":".svg","source":{"concatemoji":"http:\/\/adventure-tours.themedelight.com\/wp-includes\/js\/wp-emoji-release.min.js?ver=4.6.1"}};
        !function(a,b,c){function d(a){var c,d,e,f,g,h=b.createElement("canvas"),i=h.getContext&&h.getContext("2d"),j=String.fromCharCode;if(!i||!i.fillText)return!1;switch(i.textBaseline="top",i.font="600 32px Arial",a){case"flag":return i.fillText(j(55356,56806,55356,56826),0,0),!(h.toDataURL().length<3e3)&&(i.clearRect(0,0,h.width,h.height),i.fillText(j(55356,57331,65039,8205,55356,57096),0,0),c=h.toDataURL(),i.clearRect(0,0,h.width,h.height),i.fillText(j(55356,57331,55356,57096),0,0),d=h.toDataURL(),c!==d);case"diversity":return i.fillText(j(55356,57221),0,0),e=i.getImageData(16,16,1,1).data,f=e[0]+","+e[1]+","+e[2]+","+e[3],i.fillText(j(55356,57221,55356,57343),0,0),e=i.getImageData(16,16,1,1).data,g=e[0]+","+e[1]+","+e[2]+","+e[3],f!==g;case"simple":return i.fillText(j(55357,56835),0,0),0!==i.getImageData(16,16,1,1).data[0];case"unicode8":return i.fillText(j(55356,57135),0,0),0!==i.getImageData(16,16,1,1).data[0];case"unicode9":return i.fillText(j(55358,56631),0,0),0!==i.getImageData(16,16,1,1).data[0]}return!1}function e(a){var c=b.createElement("script");c.src=a,c.type="text/javascript",b.getElementsByTagName("head")[0].appendChild(c)}var f,g,h,i;for(i=Array("simple","flag","unicode8","diversity","unicode9"),c.supports={everything:!0,everythingExceptFlag:!0},h=0;h<i.length;h++)c.supports[i[h]]=d(i[h]),c.supports.everything=c.supports.everything&&c.supports[i[h]],"flag"!==i[h]&&(c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&c.supports[i[h]]);c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&!c.supports.flag,c.DOMReady=!1,c.readyCallback=function(){c.DOMReady=!0},c.supports.everything||(g=function(){c.readyCallback()},b.addEventListener?(b.addEventListener("DOMContentLoaded",g,!1),a.addEventListener("load",g,!1)):(a.attachEvent("onload",g),b.attachEvent("onreadystatechange",function(){"complete"===b.readyState&&c.readyCallback()})),f=c.source||{},f.concatemoji?e(f.concatemoji):f.wpemoji&&f.twemoji&&(e(f.twemoji),e(f.wpemoji)))}(window,document,window._wpemojiSettings);
    </script>
    <style type="text/css">
        img.wp-smiley,
        img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }
    </style>
    {% stylesheets filter='cssrewrite,?scssphp' 'bundles/appboxvoyageBundle/css/*' %}
    <link rel='stylesheet' id='contact-form-7-css'  href='{{ asset_url }}' type='text/css' media='all' />
    {% endstylesheets %}

    <style id='rs-plugin-settings-inline-css' type='text/css'>
        .tp-caption a{color:#ff7302;text-shadow:none;-webkit-transition:all 0.2s ease-out;-moz-transition:all 0.2s ease-out;-o-transition:all 0.2s ease-out;-ms-transition:all 0.2s ease-out}.tp-caption a:hover{color:#ffa902}
    </style>
    <link rel='stylesheet' id='theme-font-google-fonts-css'  href='http://fonts.googleapis.com/css?family=Oxygen%3A400normal%2C700normal%7CKaushan+Script%3A400normal&amp;ver=4.6.1' type='text/css' media='all' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">
    <script type='text/javascript'>
        /* <![CDATA[ */
        var wc_add_to_cart_params = {"ajax_url":"\/wp-admin\/admin-ajax.php","wc_ajax_url":"\/?wc-ajax=%%endpoint%%","i18n_view_cart":"View Cart","cart_url":"http:\/\/adventure-tours.themedelight.com\/cart\/","is_cart":"","cart_redirect_after_add":"no"};
        /* ]]> */
    </script>
    <meta name="generator" content="WordPress 4.6.1" />
    <meta name="generator" content="WooCommerce 2.6.4" />
    {% javascripts filter='?jsqueeze' 'bundles/appboxvoyageBundle/js/*' %}
    <script type='text/javascript' src='{{ asset_url }}'></script>
    {% endjavascripts %}
    <style type="text/css">.home .layout-container{
            margin-top:60px;
        }
        .widget_categories label.screen-reader-text{
            display:none;
        }
        .tour-list-home{
            margin-top:-5px;
        }
        .page-shortcodes-typography-table{
            margin-bottom:50px;
        }
        .page-shortcodes-typography-buttons{
            text-align:center;
        }
        .page-shortcodes-typography-buttons .atbtn{
            margin-right:20px;
            margin-bottom: 15px;
        }
        .page-shortcodes-typography-buttons-delimiter1{
            display:block;
            margin:0;
            border:none;
        }
        .page-shortcodes-typography-buttons-delimiter2{
            display:block;
            margin-bottom:25px;
            border:none;
        }
        .demo-page-shortcode-tours.atlist .atlist__item__image{
            width:26%;
        }
        @media(max-width:767px){
            .demo-page-shortcode-tours.atlist
            .atlist__item__image{
                width:100%;
            }
        }
    </style>
    <meta name="generator" content="Powered by Visual Composer - drag and drop page builder for WordPress."/>
    <!--[if lte IE 9]><link rel="stylesheet" type="text/css" href="http://cdn-adventure-tours.themedelight.com/wp-content/plugins/js_composer/assets/css/vc_lte_ie9.min.css" media="screen"><![endif]--><!--[if IE  8]><link rel="stylesheet" type="text/css" href="http://cdn-adventure-tours.themedelight.com/wp-content/plugins/js_composer/assets/css/vc-ie8.min.css" media="screen"><![endif]--><meta name="generator" content="Powered by Slider Revolution 5.0.6 - responsive, Mobile-Friendly Slider Plugin for WordPress with comfortable drag and drop interface." />
    <noscript><style type="text/css"> .wpb_animate_when_almost_visible { opacity: 1; }</style></noscript>
</head>
<body class="home page page-id-150 page-template-default wpb-js-composer js-comp-ver-4.10 vc_responsive" style="background-color: #f6f6f6"><script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','../www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-49600144-3', 'auto');
    ga('send', 'pageview');
</script>
<div class="layout-content">
    <header class="header" role="banner">
        <div class="container">
            <div class="header__info">
                <div class="header__info__items-left"><div class="header__info__item header__info__item--phone"><i class="fa fa-phone"></i>+1 420-240-6000</div><div class="header__info__item header__info__item--clock"><i class="fa fa-clock-o"></i>{{ "now"|date("F jS \\a\\t g:ia") }}</div></div>

                <div class="header__info__items-right">
                    <div class="header__info__item header__info__item--delimiter header__info__item--social-icons"><a href="http://facebook.com/"><i class="fa fa-facebook"></i></a><a href="http://twitter.com/"><i class="fa fa-twitter"></i></a><a href="http://plus.google.com/"><i class="fa fa-google-plus"></i></a><a href="http://pinterest.com/"><i class="fa fa-pinterest"></i></a><a href="http://instagram.com/"><i class="fa fa-instagram"></i></a><a href="http://tumblr.com/"><i class="fa fa-tumblr"></i></a></div>		<div class="header__info__item header__info__item--delimiter header__info__item--shoping-cart">
                        <a href="/index">
                            <i class="fa fa-shopping-cart"></i>
                        </a>
                    </div>
                    <div class="header__info__item header__info__item--delimiter header__info__item--search"><a href="#search-form-header" class="popup-search-form" data-effect="mfp-zoom-in"><i class="fa fa-search"></i></a></div>

                    <div id="search-form-header" class="search-form-popup search-form-popup--hide mfp-with-anim mfp-hide ">
                        <form role="search" method="get" class="search-form" action="http://adventure-tours.themedelight.com/">
                            <label>
                                <span class="screen-reader-text">Search for:</span>
                                <input type="search" class="search-field" placeholder="Search &hellip;" value="" name="s" />
                            </label>
                            <input type="submit" class="search-submit" value="Search" />
                        </form></div>
                </div>
            </div>
            <div class="header__content-wrap">
                <div class="row">
                    <div class="col-md-12 header__content">

                        <div class="logo logo--image"><a id="logoLink" href={{ path("indexpath") }}>
                                {% image 'bundles/appboxvoyageBundle/image/logo.png' %}
                                <img id="normalImageLogo" src="{{ asset_url }}" title="Travel Wordpress Theme">
                                {% endimage %}

                            </a></div>
                        <nav class="main-nav-header" role="navigation">
                            <ul id="navigation" class="main-nav">
                                <li id="menu-item-179" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-179"><a href={{ path("indexpath") }}>Accueil</a></li>
                                <li id="menu-item-179" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-179"><a href={{ path("circuitspath") }}>CIRCUITS</a></li>
                                <li id="menu-item-179" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-179"><a href={{ path("promopath") }}>PROMO</a></li>
                                <li id="menu-item-179" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-179"><a href="{{ path("derniermunipath") }}">DERNIERE MINUTE  </a></li>
                                <li id="menu-item-179" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-179"><a href={{ path("blogpath") }}>Blog </a></li>
                                <li id="menu-item-59" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-59"><a href={{ path("contactpath") }}>Contact</a></li>
                            </ul>					</nav>
                        <div class="clearfix"></div>
                    </div><!-- .header__content -->
                </div>
            </div><!-- .header__content-wrap -->
        </div><!-- .container -->
    </header>
    {%   block contenaire %}
    {% endblock %}
    <footer class="footer">
        <div class="container">
            <div class="row margin-top margin-bottom footer__widgets-areas">
                <div class="col-md-3 footer__widgets-area footer__widgets-area--1">
                    <div id="text-2" class="widget block-after-indent widget_text"><h3 class="widget__title">About Us</h3>			<div class="textwidget"><div style="margin-top: -10px;">We are a small company based in San Francisco which delivers outstanding adventure travel experiences.
                                <br>
                                <img src="{{ asset('bundles/appboxvoyageBundle/image/travel-awards.png') }}" alt="Travel Awards" style="margin-top:20px;">
                            </div></div>
                    </div></div>
                <div class="col-md-3 footer__widgets-area footer__widgets-area--2">
                    <div id="last_posts_adventure_tours-2" class="widget block-after-indent widget_last_posts_adventure_tours">

                        <div class="widget-last-posts">
                            <h3 class="widget__title">From the Blog</h3>
                            {% for blog in footerblog %}
                            <div class="widget-last-posts__item">
                                <div class="widget-last-posts__item__container">
                                    <div class="widget-last-posts__item__container__item widget-last-posts__item__container__item--image">
                                        <a href="" class="widget-last-posts__item__image">
                                            <img width="60" height="60" src="{{ asset('bundles/appboxvoyageBundle/image/'~blog.url) }}" class="attachment-thumb_last_posts_widget size-thumb_last_posts_widget wp-post-image" alt="Packing" sizes="(max-width: 60px) 100vw, 60px" />
                                        </a>
                                    </div>
                                    <div class="widget-last-posts__item__container__item widget-last-posts__item__info">
                                        <div class="widget-last-posts__item__title">
                                            <a href="">{{ blog.titre }}</a>
                                        </div>
                                        <div class="widget-last-posts__item__date">July 17, 2015
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>

                    </div>
                </div>
                <div class="col-md-3 footer__widgets-area footer__widgets-area--3"><div id="twitter_tweets_adventure_tours-2" class="widget block-after-indent widget_twitter_tweets_adventure_tours"><h3 class="widget__title">Latest Tweets</h3><div class="widget-twitter"><div class="widget-twitter__item"><div class="widget-twitter__item__container"><div class="widget-twitter__item__container__item widget-twitter__item__container__item--image"><img src="../pbs.twimg.com/profile_images/655904741617086464/nwevoHSQ_normal.png" alt="" width="48" height="48"></div><div class="widget-twitter__item__container__item widget-twitter__item__info"><a href="https://twitter.com/envato" target="_blank" class="widget-twitter__item__name">Envato</a><div class="widget-twitter__item__login"><a href="https://twitter.com/envato" target="_blank">@envato</a></div></div></div><div class="widget-twitter__item__content">A truly exciting milestone - $500 million in community earnings! ???? <a href="https://t.co/5APK16J65x" target="_blank" rel="nofollow">https://t.co/5APK16J65x</a></div><div class="widget-twitter__item__time">about 1 hour ago</div></div></div></div></div>
                <div class="col-md-3 footer__widgets-area footer__widgets-area--4"><div id="contact_us_adventure_tours-2" class="widget block-after-indent widget_contact_us_adventure_tours"><div class="widget-contact-info"><h3 class="widget__title">Contact Us</h3><div class="widget-contact-info__item"><div class="widget-contact-info__item__icon"><i class="fa fa-map-marker"></i></div><div class="widget-contact-info__item__text"><span>777 Franklin St, San Francisco</span></div></div><div class="widget-contact-info__item"><div class="widget-contact-info__item__icon"><i class="fa fa-phone"></i></div><div class="widget-contact-info__item__text"><a href="call:+14202406000">+1 420-240-6000</a></div></div><div class="widget-contact-info__item"><div class="widget-contact-info__item__icon"><i class="fa fa-envelope widget-contact-info__item__icon__email"></i></div><div class="widget-contact-info__item__text"><a href="mailto:contact@adventuretours.com">contact@adventuretours.com</a></div></div><div class="widget-contact-info__item"><div class="widget-contact-info__item__icon"><i class="fa fa-skype"></i></div><div class="widget-contact-info__item__text"><a href="skype:adventure.tours?call">adventure.tours</a></div></div></div></div></div>	</div>
        </div>
        <div class="footer__bottom">
            <div class="footer__arrow-top"><a href="#"><i class="fa fa-chevron-up"></i></a></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="footer__copyright">© Adventure Tours, 2015. Made with love and care by <a href="http://themedelight.com/">ThemeDelight</a></div>
                    </div>
                    <div class="col-md-6">
                        <div class="footer-nav">
                            <ul id="menu-footer-menu" class="menu"><li id="menu-item-141" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-141"><a href="#">Terms &#038; Conditions</a></li>
                                <li id="menu-item-142" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-142"><a href="#">Cookies</a></li>
                                <li id="menu-item-143" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-143"><a href="#">Privacy Policy</a></li>
                            </ul>						</div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div><!-- .layout-content -->


<script type='text/javascript'>
    /* <![CDATA[ */
    var _wpcf7 = {"loaderUrl":"http:\/\/adventure-tours.themedelight.com\/wp-content\/plugins\/contact-form-7\/images\/ajax-loader.gif","recaptchaEmpty":"Please verify that you are not a robot.","sending":"Sending ...","cached":"1"};
    var woocommerce_params = {"ajax_url":"\/wp-admin\/admin-ajax.php","wc_ajax_url":"\/?wc-ajax=%%endpoint%%"};
    var wc_cart_fragments_params = {"ajax_url":"\/wp-admin\/admin-ajax.php","wc_ajax_url":"\/?wc-ajax=%%endpoint%%","fragment_name":"wc_fragments"};
    var object = {"ajax_url":"http:\/\/adventure-tours.themedelight.com\/wp-admin\/admin-ajax.php","page_data":{"ID":150,"post_author":"1","post_date":"2015-07-23 10:30:07","post_date_gmt":"2015-07-23 10:30:07","post_content":"[vc_row][vc_column offset=\"vc_col-md-9\"][title size=\"big\" position=\"left\" decoration=\"off\" underline=\"off\" style=\"dark\" text=\"Why Choose Us?\"][icons_set row_size=\"3\"][icon_item icon=\"td-earth-1\" title=\"Diverse Destinations\"]Habitasse. Nunc mollis erat dapibus in commodo eu nisi. Odio purus magnis lorem.[\/icon_item][icon_item icon=\"td-banknote-1\" title=\"Value for Money\"]Nulla imperdiet dictum laoreet netus. Habitant ullamcorper. Auctor auctor cras.[\/icon_item][icon_item icon=\"td-photocamera-5\" title=\"Beautiful Places\"]Eu molestie Purus ac. Facilisis hac in metus nunc parturient ornare consequat enim.[\/icon_item][icon_item icon=\"td-calendar-2\" title=\"Fast Booking\"]Torquent egestas. Per integer placerat ipsum quam adipiscing vehicula nisi.[\/icon_item][icon_item icon=\"td-chat\" title=\"Support Team\"]Turpis accumsan. Proin id ligula suspendisse. Aliquet fringilla, aptent eu dignissim.[\/icon_item][icon_item icon=\"td-heart\" title=\"Passionate Travel\"]Metus cubilia aenean. Fusce, dapibus netus nullam interdum ut vehicula.[\/icon_item][\/icons_set][\/vc_column][vc_column offset=\"vc_col-md-3\"][vc_empty_space height=\"40px\" el_class=\"visible-sm visible-xs\"][tour_search_form hide_text_field=\"off\" title=\"Search Tours\" note=\"Find your dream tour today!\"][\/vc_column][\/vc_row][vc_row][vc_column][tour_carousel title_underline=\"off\" description_words_limit=\"10\" show=\"\" slides_number=\"3\" arrow_style=\"light\" order=\"DESC\" orderby=\"date\" title=\"Most Popular Tours\" sub_title=\"Take a Look at Our\" tour_ids=\"114,132,128,134,126\" css_class=\"margin-bottom-large\" bg_url=\"http:\/\/adventure-tours.themedelight.com\/wp-content\/uploads\/2015\/09\/most-popular-bg.jpg\"][tours_grid title_underline=\"on\" description_words_limit=\"7\" show=\"\" number=\"4\" price_style=\"highlighted\" show_categories=\"on\" btn_more_text=\"View More\" order=\"DESC\" orderby=\"date\" title=\"Deals and Discounts\" sub_title=\"Sagittis vulputate magna sagittis sagittis erat feugiat nullam cubilia amet dignissim Euismod.\" tour_category=\"deals-and-discounts\" tour_ids=\"122,117,124,111\" css_class=\"margin-bottom-large tour-list-home\" btn_more_link=\"\/tour-category\/deals-and-discounts\/\"][tour_category_images title_underline=\"on\" ignore_empty=\"on\" slides_number=\"4\" order=\"ASC\" orderby=\"name\" title=\"Destination\" sub_title=\"Find a Tour by\" parent_id=\"126\" css_class=\"section-white\"][tour_category_icons title_underline=\"on\" ignore_empty=\"on\" slides_number=\"5\" order=\"ASC\" orderby=\"name\" title=\"Tour Type\" sub_title=\"Find a Tour by\" parent_id=\"118\" bg_url=\"http:\/\/adventure-tours.themedelight.com\/wp-content\/uploads\/2015\/09\/mountain-690104_1920-optimized.jpg\"][\/vc_column][\/vc_row][vc_row el_class=\"section-white padding-top-large padding-bottom\"][vc_column offset=\"vc_col-md-6\"][latest_posts title=\"Latest Post\" title_underline=\"on\" number=\"1\" read_more_text=\"Read more\" words_limit=\"25\" ignore_sticky_posts=\"on\" order=\"DESC\" orderby=\"date\" translate=\"on\"][\/vc_column][vc_column offset=\"vc_col-md-6\"][vc_empty_space height=\"40px\" el_class=\"visible-sm visible-xs\"][tour_reviews title_underline=\"on\" number=\"2\" order=\"DESC\" orderby=\"comment_date_gmt\" title=\"Tour Reviews\"][\/vc_column][\/vc_row][vc_row][vc_column][mailchimp_form button_text=\"Subscribe\" width_mode=\"full-width\" bg_repeat=\"repeat\" form_id=\"1\" title=\"Join the Newsletter\" css_class=\"stick-to-bottom\" bg_url=\"http:\/\/adventure-tours.themedelight.com\/wp-content\/uploads\/2015\/09\/mountain-river-optimized2.jpg\"]To receive our best monthly deals[\/mailchimp_form][\/vc_column][\/vc_row]","post_title":"Home","post_excerpt":"","post_status":"publish","comment_status":"open","ping_status":"open","post_name":"home","to_ping":"","pinged":"","post_modified":"2016-03-25 13:42:58","post_modified_gmt":"2016-03-25 13:42:58","post_content_filtered":"","post_parent":0,"guid":"http:\/\/adventure-tours.themedelight.com\/?page_id=150","menu_order":0,"post_type":"page","post_mime_type":"","comment_count":"0","filter":"raw"},"interest_group_checkbox_error":"This field is required.","preloader_url":"http:\/\/adventure-tours.themedelight.com\/wp-admin\/images\/wpspin_light.gif"};
    /* ]]> */
</script>
<script type="text/javascript">jQuery(document).ready(function($){Theme.initSerchFormPopup({"placeholder_text":"Type in your request..."});
        Theme.makeSwiper({"containerSelector":"#swiper1","slidesNumber":"3","navPrevSelector":".atgrid__slider__prev","navNextSelector":".atgrid__slider__next"});
        Theme.makeSwiper({"containerSelector":"#swiper2","slidesNumber":"4","navPrevSelector":".tours-type__slider__prev","navNextSelector":".tours-type__slider__next"});
        var _ticCfgswiper3 = {"containerSelector":"#swiper3","slidesNumber":"5","navPrevSelector":".tours-type-icons__slider__prev","navNextSelector":".tours-type-icons__slider__next"};_ticCfgswiper3.widthToSlidesNumber = function(windowWidth, slidesPerView){ if (windowWidth < 390) return 1; else if (windowWidth < 581) return 2; else if (windowWidth < 768) return 3; return slidesPerView; };Theme.makeSwiper(_ticCfgswiper3);
        Theme.FormValidationHelper.initMailChimpCustomValidtion("adventure-tours-mainchimp-form-4")
        Theme.initParallax();
    })</script>
{% javascripts filter='?jsqueeze' 'bundles/appboxvoyageBundle/js/*' %}
<script type='text/javascript' src='{{ asset_url }}'></script>
{% endjavascripts %}
</body>

<!-- Mirrored from adventure-tours.themedelight.com/ by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 11 Apr 2017 20:28:11 GMT -->
</html>
