{% extends "::Baseadmin.html.twig" %}
{% block css %}
    <link href="{{ asset('bundles/appboxadminBundle/plugins/bower_components/jquery-wizard-master/css/wizard.css')}}" rel="stylesheet">    <!-- Page plugins css -->
    <link href="{{ asset('bundles/appboxadminBundle/plugins/bower_components/clockpicker/dist/jquery-clockpicker.min.css')}}" rel="stylesheet">
    <!-- Color picker plugins css -->
    <link href="{{ asset('bundles/appboxadminBundle/plugins/bower_components/jquery-asColorPicker-master/css/asColorPicker.css')}}" rel="stylesheet">
    <!-- Date picker plugins css -->
    <link rel="stylesheet" href="{{ asset('bundles/appboxadminBundle/plugins/bower_components/dropify/dist/css/dropify.min.css')}}">
    <link href="{{ asset('bundles/appboxadminBundle/plugins/bower_components/icheck/skins/all.css')}}" rel="stylesheet">
    <link href="{{ asset('bundles/appboxadminBundle/plugins/bower_components/bootstrap-datepicker/bootstrap-datepicker.min.css')}}" rel="stylesheet" type="text/css" />
    <!-- Typehead CSS -->
    <link href="{{ asset('bundles/appboxadminBundle/plugins/bower_components/typeahead.js-master/dist/typehead-min.css')}}" rel="stylesheet">
    <!-- Daterange picker plugins css -->
    <link href="{{ asset('bundles/appboxadminBundle/plugins/bower_components/timepicker/bootstrap-timepicker.min.css')}}" rel="stylesheet">
    <link href="{{ asset('bundles/appboxadminBundle/plugins/bower_components/bootstrap-daterangepicker/daterangepicker.css')}}" rel="stylesheet">


{% endblock %}
{% block contenaire %}
    <div class="row bg-title">
        <div class="col-lg-6 col-md-4 col-sm-4 col-xs-12">
            <h4 class="page-title">Modifier circuit: {{ voyage.titre }}</h4>
        </div>
        <div class="col-lg-6 col-sm-8 col-md-8 col-xs-12">
            <ol class="breadcrumb">
                <li><a href="{{ path('adminpath') }}">Index</a></li>
                <li class="active">Modifiier circuit</li>
            </ol>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="white-box">
                <form method="post" action="" enctype="multipart/form-data" id="validation">
                    <div id="exampleValidator" class="wizard">
                        <ul class="wizard-steps" role="tablist">
                            <li class="active" role="tab">
                                <h4><span><i class="ti-desktop"></i></span>Description</h4>
                            </li>
                            <li role="tab">
                                <h4><span><i class="ti-check-box"></i></span>Route</h4>
                            </li>
                            <li role="tab">
                                <h4><span><i class="ti-check-box"></i></span>Image</h4>
                            </li>
                        </ul>
                        <div class="wizard-content">
                            <div class="wizard-pane active" role="tabpanel">
                                <div class="form-group">
                                    <div class="panel-wrapper collapse in" aria-expanded="true">
                                        <div class="panel-body">
                                            <div class="form-body">
                                                <h3 class="box-title">Information sur circuit</h3>
                                                <hr>

                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="control-label">Nom de circuit</label>
                                                            <input value="{{ voyage.titre }}" name="nomcircuit" type="text" id="firstName" class="form-control" placeholder=""> </div>
                                                    </div>
                                                    <!--/span-->
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="control-label">nombre de place</label>
                                                            <input value="{{ voyage.Nbrplacetotal }}" name="nbrplace" type="number" id="nomredeplace" class="form-control" placeholder=""> </div>
                                                    </div>
                                                    <!--/span-->
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="control-label">Categorie</label>
                                                            <select  name="categorie" class="form-control" data-placeholder="Choose a Category" tab="{{ voyage.type }}">
                                                                <option value="Croisieres">Croisieres</option>
                                                                <option value="Randonnee">Randonnee</option>
                                                                <option value="En marchant">En marchant</option>
                                                                <option value="Sport">Sport</option>
                                                                <option value="Air rides">Air rides</option>
                                                                <option value="faune">faune</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label>minumum age</label>
                                                            <div class="input-group">
                                                                <div class="input-group-addon"><i class="ti-user"></i></div>
                                                                <input value="{{ voyage.minage }}" name="minage" type="number" class="form-control" id="exampleInputuname" > </div>
                                                        </div>
                                                    </div>
                                                    <!--/span-->
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label>lieu de Depart/Retour </label>
                                                            <div class="input-group">
                                                                <div class="input-group-addon"><i class="ti-home"></i></div>
                                                                <input value="{{ voyage.lieu }}" name="lieu" type="text" class="form-control" id="exampleInputuname" > </div>
                                                        </div>
                                                    </div>
                                                    <!--/span-->
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12 ">
                                                        <div class="form-group">
                                                            <label>Description</label>
                                                            <textarea  name="description" class="form-control" rows="4">{{ voyage.description }}</textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <label class="col-md-6 control-label">Date debut</label>
                                                        <label class="col-md-6 control-label">Date Fin</label>
                                                        <div class="input-daterange input-group" id="date-range">
                                                            <input value="{{ voyage.datedebut|date('m/d/Y') }}" name="datedebut" type="text" class="form-control" name="start" />
                                                            <span class="input-group-addon bg-info b-0 text-white">A</span>
                                                            <input value="{{ voyage.datefin|date('m/d/Y') }}" name="datefin" type="text" class="form-control" name="end" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <h3 class="box-title m-t-40">OPTION CIRCUIT</h3>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label>Ajouter Option</label>
                                                                <div class="input-group">
                                                                    <ul class="icheck-list">
                                                                        <li>
                                                                            <input name="c1" type="checkbox" class="check" data-checkbox="icheckbox_line-blue" data-label="Billet d'avion">
                                                                        </li>
                                                                        <li>
                                                                            <input name="c2" type="checkbox" class="check"  data-checkbox="icheckbox_line-blue" data-label="Billet d'avion">
                                                                        </li>
                                                                        <li>
                                                                            <input name="c3" type="checkbox" class="check"  data-checkbox="icheckbox_line-blue" data-label="Transport local" >
                                                                        </li>
                                                                        <li>
                                                                            <input name="c4" type="checkbox" class="check"  data-checkbox="icheckbox_line-blue" data-label="Hebergement" >
                                                                        </li>
                                                                        <li>
                                                                            <input name="c5" type="checkbox" class="check"  data-checkbox="icheckbox_line-blue" data-label="Frais d'entree" >
                                                                        </li>
                                                                        <li>
                                                                            <input name="c6" type="checkbox" class="check" data-checkbox="icheckbox_line-blue" data-label="guide gratuit" >
                                                                        </li>
                                                                    </ul>

                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label>Ajouter Option</label>
                                                                <div class="input-group">
                                                                    <ul class="icheck-list">
                                                                        <li>
                                                                            <input name="cc1" type="checkbox" class="check" data-checkbox="icheckbox_line-blue" data-label="Billet d'avion">
                                                                        </li>
                                                                        <li>
                                                                            <input name="cc2" type="checkbox" class="check"  data-checkbox="icheckbox_line-blue" data-label="Billet d'avion">
                                                                        </li>
                                                                        <li>
                                                                            <input name="cc3" type="checkbox" class="check"  data-checkbox="icheckbox_line-blue" data-label="Transport local" >
                                                                        </li>
                                                                        <li>
                                                                            <input name="cc4" type="checkbox" class="check"  data-checkbox="icheckbox_line-blue" data-label="Hebergement" >
                                                                        </li>
                                                                        <li>
                                                                            <input name="cc5" type="checkbox" class="check"  data-checkbox="icheckbox_line-blue" data-label="Frais d'entree" >
                                                                        </li>
                                                                        <li>
                                                                            <input name="cc6" type="checkbox" class="check" data-checkbox="icheckbox_line-blue" data-label="guide gratuit" >
                                                                        </li>
                                                                    </ul>

                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                                <hr>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="wizard-pane" role="tabpanel">
                                <div class="form-group">
                                    <div class="panel-body">
                                       {% for route in route %}
                                           {% if loop.last %}
                                               <div class="form-group row">
                                                   <label class="col-2 col-form-label">Jour {{route.numjour}} Retourne</label>
                                               </div>
                                        {% else %}
                                 <div class="form-group row">
                                 <label class="col-2 col-form-label">Jour {{route.numjour}}</label>
                                 <textarea name="route{{ route.id }}" class="textarea_editor form-control" rows="3" placeholder="Entrer texte ...">{{ route.description }}</textarea>
                                 </div>
                                        {% endif %}
                                        {% endfor %}

                                    </div>
                                </div>
                            </div>
                            <div class="wizard-pane" role="tabpanel">
                                <div class="panel-wrapper collapse in" aria-expanded="true">
                                    <div class="panel-body">
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                {% for galerie in galerie %}
                                                    <div class="col-md-3">
                                                        <input type="file" name="recu{{ galerie.id }}" class="dropify" data-default-file="{{ asset('bundles/appboxvoyageBundle/image/'~galerie.url) }}">
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
{% block javascriptepersonnaliser %}
    <!-- Form Wizard JavaScript -->
    <script src="{{ asset('bundles/appboxadminBundle/plugins/bower_components/jquery-wizard-master/dist/jquery-wizard.min.js')}}"></script>
    <!-- FormValidation -->
    <link rel="stylesheet" href="{{ asset('bundles/appboxadminBundle/plugins/bower_components/jquery-wizard-master/libs/formvalidation/formValidation.min.css')}}">
    <!-- FormValidation plugin and the class supports validating Bootstrap form -->
    <script src="{{ asset('bundles/appboxadminBundle/plugins/bower_components/jquery-wizard-master/libs/formvalidation/formValidation.min.js')}}"></script>
    <script src="{{ asset('bundles/appboxadminBundle/plugins/bower_components/jquery-wizard-master/libs/formvalidation/bootstrap.min.js')}}"></script>
    <script src="{{ asset('bundles/appboxadminBundle/js/jasny-bootstrap.js')}}"></script>
    <!-- Plugin JavaScript -->
    <script src="{{ asset('bundles/appboxadminBundle/plugins/bower_components/moment/moment.js')}}"></script>
    <!-- Clock Plugin JavaScript -->
    <script src="{{ asset('bundles/appboxadminBundle/plugins/bower_components/clockpicker/dist/jquery-clockpicker.min.js')}}"></script>
    <!-- Color Picker Plugin JavaScript -->
    <script src="{{ asset('bundles/appboxadminBundle/plugins/bower_components/jquery-asColorPicker-master/libs/jquery-asColor.js')}}"></script>
    <script src="{{ asset('bundles/appboxadminBundle/plugins/bower_components/jquery-asColorPicker-master/libs/jquery-asGradient.js')}}"></script>
    <script src="{{ asset('bundles/appboxadminBundle/plugins/bower_components/jquery-asColorPicker-master/dist/jquery-asColorPicker.min.js')}}"></script>
    <!-- Date Picker Plugin JavaScript -->
    <script src="{{ asset('bundles/appboxadminBundle/plugins/bower_components/bootstrap-datepicker/bootstrap-datepicker.min.js')}}"></script>
    <!-- Date range Plugin JavaScript -->
    <script src="{{ asset('bundles/appboxadminBundle/plugins/bower_components/timepicker/bootstrap-timepicker.min.js')}}"></script>
    <script src="{{ asset('bundles/appboxadminBundle/plugins/bower_components/bootstrap-daterangepicker/daterangepicker.js')}}"></script>
    <!-- Typehead Plugin JavaScript -->
    <script src="{{ asset('bundles/appboxadminBundle/plugins/bower_components/typeahead.js-master/dist/typeahead.bundle.min.js')}}"></script>
    <script src="{{ asset('bundles/appboxadminBundle/plugins/bower_components/typeahead.js-master/dist/typeahead-init.js')}}"></script>
    <script src="{{ asset('bundles/appboxadminBundle/plugins/bower_components/icheck/icheck.min.js')}}"></script>

    <script src="{{ asset('bundles/appboxadminBundle/plugins/bower_components/icheck/icheck.init.js')}}"></script>
    <!-- jQuery file upload -->
    <script src="{{ asset('bundles/appboxadminBundle/plugins/bower_components/dropify/dist/js/dropify.min.js')}}"></script>

    <script>
        // Clock pickers
        $('#single-input').clockpicker({
            placement: 'bottom',
            align: 'left',
            autoclose: true,
            'default': 'now'

        });

        $('.clockpicker').clockpicker({
            donetext: 'Done',

        })
                .find('input').change(function() {
                    console.log(this.value);
                });

        $('#check-minutes').click(function(e) {
            // Have to stop propagation here
            e.stopPropagation();
            input.clockpicker('show')
                    .clockpicker('toggleView', 'minutes');
        });
        if (/mobile/i.test(navigator.userAgent)) {
            $('input').prop('readOnly', true);
        }
        // Colorpicker

        $(".colorpicker").asColorPicker();
        $(".complex-colorpicker").asColorPicker({
            mode: 'complex'
        });
        $(".gradient-colorpicker").asColorPicker({
            mode: 'gradient'
        });
        // Date Picker
        jQuery('.mydatepicker, #datepicker').datepicker();
        jQuery('#datepicker-autoclose').datepicker({
            autoclose: true,
            todayHighlight: true
        });

        jQuery('#date-range').datepicker({
            toggleActive: true
        });
        jQuery('#datepicker-inline').datepicker({

            todayHighlight: true
        });

        // Daterange picker

        $('.input-daterange-datepicker').daterangepicker({
            buttonClasses: ['btn', 'btn-sm'],
            applyClass: 'btn-danger',
            cancelClass: 'btn-inverse'
        });
        $('.input-daterange-timepicker').daterangepicker({
            timePicker: true,
            format: 'MM/DD/YYYY h:mm A',
            timePickerIncrement: 30,
            timePicker12Hour: true,
            timePickerSeconds: false,
            buttonClasses: ['btn', 'btn-sm'],
            applyClass: 'btn-danger',
            cancelClass: 'btn-inverse'
        });
        $('.input-limit-datepicker').daterangepicker({
            format: 'MM/DD/YYYY',
            minDate: '06/01/2015',
            maxDate: '06/30/2015',
            buttonClasses: ['btn', 'btn-sm'],
            applyClass: 'btn-danger',
            cancelClass: 'btn-inverse',
            dateLimit: {
                days: 6
            }
        });
    </script>
    <script type="text/javascript">
        (function() {
            $('#exampleValidator').wizard({
                onInit: function() {
                    $('#validation').formValidation({
                        framework: 'bootstrap',
                        fields: {
                            nomcircuit: {
                                validators: {
                                    notEmpty: {
                                        message: 'Remplire le nom de cicuit'
                                    },
                                    regexp: {
                                        regexp: /^[a-zA-Z\s]+$/,
                                        message: 'le nom de circuit contient seulement des letters'
                                    }
                                }
                            },
                            nbrplace: {
                                validators: {
                                    notEmpty: {
                                        message: 'Remplire le nombre de place'
                                    }
                                }
                            },
                            nbrdejour: {
                                validators: {
                                    notEmpty: {
                                        message: 'Remplire le nombre de jour'
                                    }
                                }
                            },
                            destination: {
                                validators: {
                                    notEmpty: {
                                        message: 'Remplire la destination'
                                    },
                                    regexp: {
                                        regexp: /^[a-zA-Z\s]+$/,
                                        message: 'la destination contient seulement des letters'
                                    }
                                }
                            },
                            prix: {
                                validators: {
                                    notEmpty: {
                                        message: 'Remplire le prix'
                                    },
                                    regexp: {
                                        regexp: /^[0-9\.]+$/,
                                        message: 'la destination contient seulement des letters'
                                    }
                                }
                            },
                            minage: {
                                validators: {
                                    notEmpty: {
                                        message: 'Remplire le min age'
                                    }
                                }
                            },
                            lieu: {
                                validators: {
                                    notEmpty: {
                                        message: 'Remplire le lieu'
                                    },
                                    regexp: {
                                        regexp: /^[a-zA-Z\s]+$/,
                                        message: 'le lieu circuit contient seulement des letters'
                                    }
                                }
                            },
                            description: {
                                validators: {
                                    notEmpty: {
                                        message: 'Remplire la description'
                                    }
                                }
                            }
                        }
                    });
                },
                validator: function() {
                    var fv = $('#validation').data('formValidation');

                    var $this = $(this);

                    // Validate the container
                    fv.validateContainer($this);

                    var isValidStep = fv.isValidContainer($this);
                    if (isValidStep === false || isValidStep === null) {
                        return false;
                    }

                    return true;
                },
                onFinish: function() {
                    $('#validation').submit();
                    alert('finish');
                }
            });
            $('#accordion').wizard({
                step: '[data-toggle="collapse"]',

                buttonsAppendTo: '.panel-collapse',

                templates: {
                    buttons: function() {
                        var options = this.options;
                        return '<div class="panel-footer"><ul class="pager">' +
                                '<li class="previous">' +
                                '<a href="#' + this.id + '" data-wizard="back" label="precedent" role="button">' + options.buttonLabels.back + '</a>' +
                                '</li>' +
                                '<li class="next">' +
                                '<a href="#' + this.id + '" data-wizard="next" role="button">' + options.buttonLabels.next + '</a>' +
                                '<a href="#' + this.id + '" data-wizard="finish" role="button">' + options.buttonLabels.finish + '</a>' +
                                '</li>' +
                                '</ul></div>';
                    }
                },

                onBeforeShow: function(step) {
                    step.$pane.collapse('show');
                },

                onBeforeHide: function(step) {
                    step.$pane.collapse('hide');
                }


            });
        })();
    </script>

    <script>
        $(document).ready(function() {
            // Basic
            $('.dropify').dropify();

            // Translated
            $('.dropify-fr').dropify({
                messages: {
                    default: 'Glissez-déposez un fichier ici ou cliquez',
                    replace: 'Glissez-déposez un fichier ou cliquez pour remplacer',
                    remove: 'Supprimer',
                    error: 'Désolé, le fichier trop volumineux'
                }
            });

            // Used events
            var drEvent = $('#input-file-events').dropify();

            drEvent.on('dropify.beforeClear', function(event, element) {
                return confirm("Do you really want to delete \"" + element.file.name + "\" ?");
            });

            drEvent.on('dropify.afterClear', function(event, element) {
                alert('File deleted');
            });

            drEvent.on('dropify.errors', function(event, element) {
                console.log('Has Errors');
            });

            var drDestroy = $('#input-file-to-destroy').dropify();
            drDestroy = drDestroy.data('dropify');
            $('#toggleDropify').on('click', function(e) {
                e.preventDefault();
                if (drDestroy.isDropified()) {
                    drDestroy.destroy();
                } else {
                    drDestroy.init();
                }
            })
        });
    </script>

    <script>
        $(document).ready(function() {

            $('.textarea_editor').wysihtml5();

        });
    </script>
{%  endblock %}