<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Example 1</title>
    <style>
        .clearfix:after {
            content: "";
            display: table;
            clear: both;
        }

        a {
            color: #5D6975;
            text-decoration: underline;
        }

        body {
            position: relative;
            width: 21cm;
            height: 29.7cm;
            margin: 0 auto;
            color: #001028;
            background: #FFFFFF;
            font-family: Arial, sans-serif;
            font-size: 12px;
            font-family: Arial;
        }

        header {
            padding: 10px 0;
            margin-bottom: 30px;
        }

        #logo {
            text-align: center;
            margin-bottom: 10px;
        }

        #logo img {
            width: 200px;
        }

        h1 {
            border-top: 1px solid  #5D6975;
            border-bottom: 1px solid  #5D6975;
            color: #5D6975;
            font-size: 2.4em;
            line-height: 1.4em;
            font-weight: normal;
            text-align: center;
            margin: 0 0 20px 0;
            background: url(dimension.png);
        }

        #project {
            float: left;
        }

        #project span {
            color: #5D6975;
            text-align: right;
            width: 100px;
            margin-right: 10px;
            display: inline-block;
            font-size: 0.8em;
        }

        #company {
            float: right;
            text-align: right;
        }

        #project div,
        #company div {
            white-space: nowrap;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            border-spacing: 0;
            margin-bottom: 20px;
        }

        table tr:nth-child(2n-1) td {
            background: #F5F5F5;
        }

        table th,
        table td {
            text-align: center;
        }

        table th {
            padding: 5px 20px;
            color: #5D6975;
            border-bottom: 1px solid #C1CED9;
            white-space: nowrap;
            font-weight: normal;
        }

        table .service,
        table .desc {
            text-align: left;
        }

        table td {
            padding: 20px;
            text-align: right;
        }

        table td.service,
        table td.desc {
            vertical-align: top;
        }

        table td.unit,
        table td.qty,
        table td.total {
            font-size: 1.2em;
        }

        table td.grand {
            border-top: 1px solid #5D6975;;
        }

        #notices .notice {
            color: #5D6975;
            font-size: 1.2em;
        }

        footer {
            color: #5D6975;
            width: 100%;
            height: 30px;
            position: absolute;
            bottom: 0;
            border-top: 1px solid #C1CED9;
            padding: 8px 0;
            text-align: center;
        }
    </style>
</head>
<body>
<header class="clearfix">
    <div id="logo">
        <img  src="http://localhost:81/pfe/web/bundles/appboxvoyageBundle/image/logoblack.png" width="150px" height="70" title="Travel Wordpress Theme">
    </div>
    <h1>Adventures tours</h1>
    <div id="company" class="clearfix">
        <div>Adventures tours</div>
        <div>455 Foggy Heights,<br /> AZ 85004, FES</div>
        <div>+212 6 15 95 58 38 </div>
        <div>Appboxvoyage@gmail.com</div>
    </div>
    <div id="project">
        <div><span>RESERVATION</span> {{ reservation.id }} </div>
        <div><span>CLIENT</span> {{ reservation.nom }}</div>
        <div><span>ADDRESS</span> {{ reservation.address }}</div>
        <div><span>DATE</span> {{ reservation.datemettreres|date('d/m/y') }}</div>
        <div><span>DATE DEBUT</span> {{ voyage.datedebut|date('d/m/y') }}</div>
    </div>
</header>
<main>
    <table>
        <thead>
        <tr>
            <th class="service">CIRCUIT</th>
            <th class="desc">DESCRIPTION</th>
            <th>PRIX</th>
            <th>QTY</th>
            <th>TOTAL</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="service">{{ voyage.titre }}</td>
            <td class="desc">C{{ voyage.description }}</td>
            <td class="unit">{{ voyage.prix }} MAD</td>
            <td class="qty">{{ reservation.nbrpersonne }}</td>
            <td class="total">    {% set total= voyage.prix*reservation.nbrpersonne %}{{ total }} MAD</td>
        </tr>


        <tr>
            <td colspan="4" class="grand total">GRAND TOTAL</td>
            <td class="grand total">{% set total= voyage.prix*reservation.nbrpersonne %}{{ total }} MAD</td>
        </tr>
        </tbody>
    </table>

</main>
<footer>
    Invoice was created on a computer and is valid without the signature and seal.
</footer>
</body>
</html>