{% extends "::Baseadmin.html.twig" %}

{% block contenaire  %}
    <div class="row bg-title">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <h4 class="page-title">Liste des utilisateurs</h4> </div>
        <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
            <ol class="breadcrumb">
                <li><a href="{{ path('adminpath') }}">Index</a></li>
                <li class="active">newsletter</li>
            </ol>
        </div>
        <!-- /.col-lg-12 -->
    </div>

    <div class="col-sm-12">
        <div class="white-box">
            <h3 class="box-title m-b-0">Liste des emails</h3>
            <div class="table-responsive">
                <table id="myTable" class="table table-bordered">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Email</th>
                        <th class="text-nowrap">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for list in list %}
                    <tr>
                        <td>{{ list.id }}</td>
                        <td>{{ list.email }}</td>
                        <td class="text-nowrap">
                            <a href="{{ path('suppnewsletterpath',{'id':list.id}) }}" data-toggle="tooltip" data-original-title="Supprimer"> <i class="fa fa-close text-danger"></i> </a>
                        </td>
                    </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascriptepersonnaliser %}
    <!-- Sparkline chart JavaScript -->

    <script src="{{  asset('bundles/appboxadminBundle/plugins/bower_components/datatables/jquery.dataTables.min.js')}}"></script>

    <script>
        $(document).ready(function() {
            $('#myTable').DataTable();
            $(document).ready(function() {
                var table = $('#example').DataTable({
                    "columnDefs": [{
                        "visible": false,
                        "targets": 2
                    }],
                    "order": [
                        [2, 'asc']
                    ],
                    "displayLength": 25,
                    "drawCallback": function(settings) {
                        var api = this.api();
                        var rows = api.rows({
                            page: 'current'
                        }).nodes();
                        var last = null;
                        api.column(2, {
                            page: 'current'
                        }).data().each(function(group, i) {
                            if (last !== group) {
                                $(rows).eq(i).before('<tr class="group"><td colspan="5">' + group + '</td></tr>');
                                last = group;
                            }
                        });
                    }
                });
                // Order by the grouping
                $('#example tbody').on('click', 'tr.group', function() {
                    var currentOrder = table.order()[0];
                    if (currentOrder[0] === 2 && currentOrder[1] === 'asc') {
                        table.order([2, 'desc']).draw();
                    } else {
                        table.order([2, 'asc']).draw();
                    }
                });
            });
        });
    </script>

{% endblock %}